.label_trend{
    padding-top: 50px;
    background-image: url("./img/label_trend.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    widows: 100%;
    
}

.big_padding{
    padding-top: 100px;
    padding-bottom: 50px;
}